# gradle

.gradle/
build/
out/
classes/
gradle-9.2.0/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

#other
backup/
bin/
crash/
logs/
src.zip
.trae/